# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.env

# Distribution files
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# User specific files
interaction_history.json
memory_graph
memory_graph.html